body {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
}

:root,
body {
  font-family: Arial, sans-serif;
  background-color: white;
}
,
html {
  background-color: #eeeeee;
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
p,
nav,
small,
ul,
li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  /* background: transparent; */
}
